@use '../abstracts/variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-md;
  line-height: $line-height-loose;
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: $line-height-tight;
  color: var(--color-text-primary);
}

h1 {
  font-size: $font-size-4xl;
}
h2 {
  font-size: $font-size-3xl;
}
h3 {
  font-size: $font-size-2xl;
}
h4 {
  font-size: $font-size-xl;
}
h5 {
  font-size: $font-size-lg;
}
h6 {
  font-size: $font-size-md;
}

.font-serif {
  font-family: $font-family-serif;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
