@use 'variables' as *;

// ==========================================================================
// Mixins
// ==========================================================================

// Breakpoints
$breakpoints: (
  'xs': 0,
  'sm': 600px,
  'md': 900px,
  'lg': 1200px,
  'xl': 1440px,
);

/// 响应式断点混合宏
/// @param {String} $breakpoint - 断点名称 (xs, sm, md, lg, xl)
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    @if $value == 0 {
      @content;
    } @else {
      @media screen and (min-width: $value) {
        @content;
      }
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}

/// Flexbox 居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/// 绝对定位居中
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/// 文本截断
/// @param {Number} $lines - 行数
@mixin text-truncate($lines: 1) {
  @if $lines == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
